.sendForm {
    width: 100%;
    display: flex;
    gap: 44px;
    justify-content: space-between;
    margin-top: 26px;
}

.textarea {
    width: 976px;
    height: 40px;
    padding: 12px 0 11px 24px;
    border-radius: 20px;
    background: #F5F7FB;
    border: none;
    resize: none;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.10), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    color: rgba(0, 0, 0, 0.60);

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.9;
    overflow: hidden;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #06C;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #0053a9;
}
