.select {
    width: 180px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #C2C2C2;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.select:focus {
    border-radius: 2px;
    border: 1px solid #000;
}


.option:hover {
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
